<div>
  <img src="assets/bcs.jpg" alt="">
  <div>Hacer carrusel mañana</div>
</div>
<!-- netflix-carousel.component.html -->
<!-- <div class="row">
  <button class="nav left" (click)="scroll(scroller, 'left')">‹</button>

  <div #scroller class="scroller" 
       [class.is-hovering]="hoveredIndex !== null">
    <div 
      class="card"
      *ngFor="let it of items; let i = index"
      [class.active]="hoveredIndex === i"
      [class.dimmed]="hoveredIndex !== null && hoveredIndex !== i"
      (mouseenter)="setHover(i)"
      (mouseleave)="setHover(null)"
    >
      <img [src]="it.img" [alt]="it.title" loading="lazy" />
      <div class="title">{{ it.title }}</div>
    </div>
  </div>

  <button class="nav right" (click)="scroll(scroller, 'right')">›</button>
</div> -->
